<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>About</title>
    <script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="js/jquery.spinner.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/jquery.jqzoom.js"></script>
    <script type="text/javascript" src="js/base.js"></script>
    <link rel="stylesheet" href="css/style.css" type="text/css"/>
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css"/>
</head>
<body>
<!--头部-->
<div class="header">
    <div class="container">
    
        <div class="row">
          <div class="col-md-9">
            <div class="row">
            <div class="header-left">
               <div class="header-left-top">
                    <ul>
                        <li><a href="#">My Account</a></li>
                        <li><a href="#">Delivery</a></li>
                        <li><a href="#">Help</a></li>
                    </ul>
                </div>
                <div class="header-left-bottom">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Products</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Contacts</a></li>
                    </ul>
                </div>
            </div>
            <div class="header-center-img">
                <img src="images/logo.jpg">
            </div>
          </div>
          </div>
          
          <div class="header-right col-md-3">
          
             <div class="row">
                <div class="header-right-top">
                    <span class="glyphicon glyphicon-shopping-cart"><span>CART</span><span class="number">0</span></span>
                </div>
                <div class="header-right-search">
                    <input class="form-control " type="text" placeholder="Search">
                    <button class="glyphicon glyphicon-search search" type="submit"></button>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
<!--产品幻灯开始-->
<div class="crumb container">
   <a href="">Home</a> - <a>About US</a>
</div>
<div class="about">
  <div class="container">
     <div class="row">
       <h1>About CASSIE</h1>
       <img src="images/about-img.jpg" class="empty-banner">   
       <div class="about-content">
        What sets our brushes apart from others？ That is the lovely price！
        Being original equipment manufacture partners of various international comb enterprises for more than twenty years, Cassie starts own brand with the superior of factory. Experience accumulation and Quality satisfaction are the main confidence the strategic target of Cassie to enter comb market to provide combs with top qualities at factory price.
       </div>
  </div>
  </div>
</div>
<!--底部-->
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-address col-md-3">
                <p class="footer-title">Address</p>

                <div class="footer-left"><span class="glyphicon glyphicon-home"></span>

                    <p>4578 MARMORA ROAD,GLASGOW D04 89 GR</p></div>
                <div class="footer-left"><span class="glyphicon glyphicon-envelope"></span>

                    <p>info@cassiecomb.com</p></div>
            </div>
            <div class="footer-address footer-address1 col-md-3">
                <p class="footer-title footer-title2">Customer Service</p>
                <ul>
                    <li><a>Contact us form</a></li>
                    <li><a>Shipping Information</a></li>
                    <li><a>Warranty Information</a></li>
                    <li><a>Privacy Policy</a></li>
                </ul>
            </div>
            <div class="footer-address col-md-3">
                <p class="footer-title">Foolow Us</p>

                <div>
                    <p class="footer-body3"><img src="images/f.png">Facebook</p>

                    <p class="footer-body3"><img src="images/P.png">Pinterest</p>
                </div>
            </div>
            <div class="footer-address col-md-3">
                <p class="footer-title">Subscribe to Our News </p>

                <div><p class="footer-last">Sign up for our newsletter and get the latest news.</p></div>
                <input class="form-control " type="text" placeholder="Email">
                <span class="glyphicon glyphicon-envelope glyphicon-envelope2"></span>
            </div>
        </div>
    </div>
</div>
<!--最底部-->
<div class="footer-buttom">
    <div class="container">
        <div class="footer-buttom-body">
            <p>Copyright © cassiecomb.com All Rights Reserved. Designed by iMyCart</p>
        </div>
    </div>
</div>
</body>
</html>