{% extends "cassie/base.html" %}
{% block main %}
{% load i18n %}
{% load staticfiles %}
    <div class="home main">
        <div class="container">
            <div class="row">
                <div class="sliders"><img src="{% static "cassie/images/banner.jpg"%}" alt="banner"></div>
            </div>
        </div>
        <div class="container">
        <div class="row home-products">
            <h1>Better Hairbrush</h1>
            <p class="home-product-des">Make a chance for your hair as well as your pocket</p>
            <div class="row home-products-main">
            <div class="col-md-3 col-xs-6">
                    <a href="#"><img src="{% static "cassie/images/products-example.jpg"%}"></a>
                   <h2><a href="#">Top sellers plastic detangling hairbrush wet</a></h2>
                   <p>$25.00</p>
            </div>
            <div class="col-md-3 col-xs-6">
                    <a href="#"><img src="{% static "cassie/images/products-example.jpg"%}"></a>
                    <h2><a href="#">Top sellers plastic detangling hairbrush wet</a></h2>
                    <p>$25.00</p>
            </div>
            <div class="col-md-3 col-xs-6">
                    <a href="#"><img src="{% static "cassie/images/products-example.jpg"%}"></a>
                    <h2><a href="#">Top sellers plastic detangling hairbrush wet</a></h2>
                    <p>$25.00</p>
            </div>
            <div class="col-md-3 col-xs-6">
                    <a href="#"><img src="{% static "cassie/images/products-example.jpg"%}"></a>
                    <h2><a href="#">Top sellers plastic detangling hairbrush wet</a></h2>
                    <p>$25.00</p>
            </div>
            </div>
            </div>
    </div>
    <div class="container">
        <div class="row">
        <div class="row">
            <div  class="home-about">
            <a href="#" class="col-md-4 col-xs-4"><img src="{% static "cassie/images/home-about-left.jpg"%}"></a>
            <a href="#" class="col-md-8 col-xs-8"><img src="{% static "cassie/images/home-about-right.jpg"%}"></a>
            </div>
        </div>
    </div>
    </div>
    <div class="container">
        <div class="row">
        <div class="row home-adv">

                <div class="col-md-4 col-xs-4"><h4>Why Choose Us</h4><a href="#"><img src="{% static "cassie/images/home-adv.jpg"%}"></a></div>
                <div class="col-md-4 col-xs-4"><h4>Become A Dealer</h4><a href="#"><img src="{% static "cassie/images/home-adv.jpg"%}"></a></div>
                <div class="col-md-4 col-xs-4"><h4>Awards</h4><a href="#"><img src="{% static "cassie/images/home-adv.jpg"%}"></a></div>
        </div>
        </div>
    </div>
    </div>
{%endblock%}    