{% extends "cassie/base.html" %}
{% block main %}
{% load i18n %}
{% load staticfiles %}
    <div class="home main">
        <div class="container">
			<div class="row"><a href="https://open.weixin.qq.com/connect/oauth2/authorize?appid=wx3a86e89b09a7c875&redirect_uri=http%3A%2F%2Faws.imycart.com%2Fweixin%2F&response_type=code&scope=snsapi_userinfo&state=123#wechat_redirect">微信登陆</a></div>
			<div class="row"><a href="#" class="share-to-friends">分享到朋友圈</a></div>
		
            <div class="row">
                <div class="sliders"><img src="{% static "cassie/images/banner.jpg"%}" alt="banner"></div>
            </div>
        </div>
        <div class="container">
        <div class="row home-products">
            <h1>Better Hairbrush</h1>
            <p class="home-product-des">Make a chance for your hair as well as your pocket</p>
            <div class="row home-products-main">
            <div class="col-md-3 col-xs-6">
                    <a href="#"><img src="{% static "cassie/images/products-example.jpg"%}"></a>
                   <h2><a href="#">Top sellers plastic detangling hairbrush wet</a></h2>
                   <p>$25.00</p>
            </div>
            <div class="col-md-3 col-xs-6">
                    <a href="#"><img src="{% static "cassie/images/products-example.jpg"%}"></a>
                    <h2><a href="#">Top sellers plastic detangling hairbrush wet</a></h2>
                    <p>$25.00</p>
            </div>
            <div class="col-md-3 col-xs-6">
                    <a href="#"><img src="{% static "cassie/images/products-example.jpg"%}"></a>
                    <h2><a href="#">Top sellers plastic detangling hairbrush wet</a></h2>
                    <p>$25.00</p>
            </div>
            <div class="col-md-3 col-xs-6">
                    <a href="#"><img src="{% static "cassie/images/products-example.jpg"%}"></a>
                    <h2><a href="#">Top sellers plastic detangling hairbrush wet</a></h2>
                    <p>$25.00</p>
            </div>
            </div>
            </div>
    </div>
    <div class="container">
        <div class="row">
        <div class="row">
            <div  class="home-about">
            <a href="#" class="col-md-4 col-xs-4"><img src="{% static "cassie/images/home-about-left.jpg"%}"></a>
            <a href="#" class="col-md-8 col-xs-8"><img src="{% static "cassie/images/home-about-right.jpg"%}"></a>
            </div>
        </div>
    </div>
    </div>
    <div class="container">
        <div class="row">
        <div class="row home-adv">

                <div class="col-md-4 col-xs-4"><h4>Why Choose Us</h4><a href="#"><img src="{% static "cassie/images/home-adv.jpg"%}"></a></div>
                <div class="col-md-4 col-xs-4"><h4>Become A Dealer</h4><a href="#"><img src="{% static "cassie/images/home-adv.jpg"%}"></a></div>
                <div class="col-md-4 col-xs-4"><h4>Awards</h4><a href="#"><img src="{% static "cassie/images/home-adv.jpg"%}"></a></div>
        </div>
        </div>
    </div>
    </div>
{%endblock%}    
{% block scripts %}
	{% load staticfiles %}
	<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"> </script>
	<script>
		/*
		* 注意：
		* 1. 所有的JS接口只能在公众号绑定的域名下调用，公众号开发者需要先登录微信公众平台进入“公众号设置”的“功能设置”里填写“JS接口安全域名”。
		* 2. 如果发现在 Android 不能分享自定义内容，请到官网下载最新的包覆盖安装，Android 自定义分享接口需升级至 6.0.2.58 版本及以上。
		* 3. 常见问题及完整 JS-SDK 文档地址：http://mp.weixin.qq.com/wiki/7/aaa137b55fb2e0456bf8dd9148dd613f.html
		*
		* 开发中遇到问题详见文档“附录5-常见错误及解决办法”解决，如仍未能解决可通过以下渠道反馈：
		* 邮箱地址：weixin-open@qq.com
		* 邮件主题：【微信JS-SDK反馈】具体问题
		* 邮件内容说明：用简明的语言描述问题所在，并交代清楚遇到该问题的场景，可附上截屏图片，微信团队会尽快处理你的反馈。
		*/
		wx.config({
			debug: true,
			appId: 'wx3a86e89b09a7c875',
			timestamp: {{timestamp}},
			nonceStr: '{{nonce}}',
			signature: '{{signature}}',
			jsApiList: [
				'checkJsApi',
				'chooseWXPay'
			]
		});
		
		$(".share-to-friends").click(function(e){
			alert('come in');
			wx.onMenuShareTimeline({
				title: 'imyCart', // 分享标题
				link: 'http://aws.imycart.com', // 分享链接
				imgUrl: 'http://aws.imycart.com/static/cassie/images/logo.jpg', // 分享图标
				success: function () { 
					// 用户确认分享后执行的回调函数
					alert('share success');
				},
				cancel: function () { 
					// 用户取消分享后执行的回调函数
					alert('share cancel');
				}
			});
		});
	</script>
{% endblock %}
