<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>首页</title>
    <script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/style.css" type="text/css"/>
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css"/>
</head>
<body>
<!--头部-->
<div class="header">
    <div class="container">
        <div class="row">
          <div class="col-md-9">
            <div class="header-left">
               <div class="header-left-top">
                    <ul>
                        <li><a href="#">My Account</a></li>
                        <li><a href="#">Delivery</a></li>
                        <li><a href="#">Help</a></li>
                    </ul>
                </div>
                <div class="header-left-bottom">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Products</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Contacts</a></li>
                    </ul>
                </div>
            </div>
            <div class="header-center-img">
                <img src="images/logo.jpg">
            </div>
          </div>
          <div class="header-right col-md-3">
                <div class="header-right-top">
                    <span class="glyphicon glyphicon-shopping-cart"><span>CART</span><span
                            class="number">0</span></span>
                </div>
                <div class="header-right-search">
                    <input class="form-control " type="text" placeholder="Search">
                    <button class="glyphicon glyphicon-search search" type="submit"></button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--幻灯-->
<div class="banner">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1" class=""></li>
        </ol>
        <div class="carousel-inner">
            <div class="item active">
                <img src="images/inde2x.jpg" data-src=" " alt="First slide">
            </div>
            <div class="item">
                <img src="images/inde2x.jpg" data-src="" alt="Second slide">
            </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span
                class="glyphicon glyphicon-chevron-left">
	</span></a><a class="right carousel-control" href="#myCarousel" data-slide="next"><span
            class="glyphicon glyphicon-chevron-right"></span></a>
    </div>
</div>
<!--产品展示-->
<div class="popular">
    <div class="container">
        <div class="row">
            <h2>POPULAR PRODUCTS</h2>
            <div class="popular-products-main col-md-2">
                <a href="detail.html"><img src="images/pndex.jpg"></a>
                <p class="popular-products-name"><a href="detail.html">Top sellers plastic detangling hair brush</a></p>
                <p class="popular-products-price">$9.90</p>
                <p class="popular-products-detail delay"><a href="detail.html">VIEW DETAIL</a></p>                
            </div>
            <div class="popular-products-main col-md-2">
                <a href="detail.html"><img src="images/pndex.jpg"></a>
                <p class="popular-products-name"><a href="detail.html">Top sellers plastic detangling hair brush</a></p>
                <p class="popular-products-price">$9.90</p>
                <p class="popular-products-detail delay"><a href="detail.html">VIEW DETAIL</a></p>                
            </div>
            <div class="popular-products-main col-md-2">
                <a href="detail.html"><img src="images/pndex.jpg"></a>
                <p class="popular-products-name"><a href="detail.html">Top sellers plastic detangling hair brush</a></p>
                <p class="popular-products-price">$9.90</p>
                <p class="popular-products-detail delay"><a href="detail.html">VIEW DETAIL</a></p>                
            </div>
            <div class="popular-products-main col-md-2">
                <a href="detail.html"><img src="images/pndex.jpg"></a>
                <p class="popular-products-name"><a href="detail.html">Top sellers plastic detangling hair brush</a></p>
                <p class="popular-products-price">$9.90</p>
                <p class="popular-products-detail delay"><a href="detail.html">VIEW DETAIL</a></p>                
            </div>
            <div class="popular-products-main col-md-2">
                <a href="detail.html"><img src="images/pndex.jpg"></a>
                <p class="popular-products-name"><a href="detail.html">Top sellers plastic detangling hair brush</a></p>
                <p class="popular-products-price">$9.90</p>
                <p class="popular-products-detail delay"><a href="#">VIEW DETAIL</a></p>                
            </div>
           <div class="popular-products-main col-md-2">
                <a href="detail.html"><img src="images/pndex.jpg"></a>
                <p class="popular-products-name"><a href="detail.html">Top sellers plastic detangling hair brush</a></p>
                <p class="popular-products-price">$9.90</p>
                <p class="popular-products-detail delay"><a href="detail.html">VIEW DETAIL</a></p>                
            </div>
        </div>
    </div>
</div>
<!--三个橙色的div-->
<div class="index-about">
    <div class="container index-about-main">
        <div><p class="delay">WHY CHOOSE US</p></div>
        <div><p class="delay">BECOME A DEALER</p></div>
        <div><p class="delay">AWARD</p></div>
    </div>
</div>
<!--底部-->
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-address col-md-3">
                <p class="footer-title">Address</p>
                <div class="footer-left"><span class="glyphicon glyphicon-home"></span> <p>4578 MARMORA ROAD,GLASGOW D04 89 GR</p></div>
                <div class="footer-left"><span class="glyphicon glyphicon-envelope"></span> <p>info@cassiecomb.com</p></div>
            </div>
            <div class="footer-address footer-address1 col-md-3">
                <p class="footer-title footer-title2">Customer Service</p>
                <ul>
                    <li><a>Contact us form</a></li>
                    <li><a>Shipping Information</a></li>
                    <li><a>Warranty Information</a></li>
                    <li><a>Privacy Policy</a></li>
                </ul>
            </div>
            <div class="footer-address col-md-3">
                <p class="footer-title">Foolow Us</p>
                <div>
                    <p class="footer-body3"><img src="images/f.png"><a href="https://www.facebook.com/CassieHairBrush">Facebook</a></p>
                    <p class="footer-body3"><img src="images/P.png"><a href="https://www.pinterest.com/cassiehairbrush/">Pinterest</a></p>
                </div>
            </div>
            <div class="footer-address col-md-3">
                <p class="footer-title">Subscribe to Our News </p>
                <p class="footer-last">Sign up for our newsletter and get the latest news.</p>
                <input class="form-control " type="text" placeholder="Email">
                <span class="glyphicon glyphicon-envelope glyphicon-envelope2"></span>
            </div>
        </div>
    </div>
</div>
<!--最底部-->
<div class="footer-buttom">
    <div class="container">
        <div class="footer-buttom-body"><p>Copyright © cassiecomb.com All Rights Reserved. Designed by iMyCart</p></div>
    </div>
</div>
</body>
</html>